/*
body {
  margin: 0;
  font-family: 'Righteous';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar { 
  transition: width .1s ease;
}

.container {
  padding: 3px; 
}

.navbar-expand {
  justify-content: space-between;
}

/*
  font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Josefin Sans',
    sans-serif;
    */
